.search-results {
    border: 1 px solid Gray;
    margin - bottom: 5 px;
    padding: 5 px;
}
.search-results .label {
    display: inline - block;
    width: 200 px;
}
.glyphicon {
    color: #FFFF00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.btn-default:hover{
    color:#fff;
    background-color:#7A7A7A;
    border-color:#adadad
}
